#wandora-button {
  list-style-image: url("chrome://wandora/skin/wandoraico24.png") !important;
}

toolbar[iconsize="small"] #wandora-button {
  list-style-image: url("chrome://wandora/skin/wandoraico16.png") !important;
}

#wandora-button[status="loading"] {
  list-style-image: url("chrome://wandora/skin/wandoraicoanim24.png") !important;
}

toolbar[iconsize="small"] #wandora-button[status="loading"] {
  list-style-image: url("chrome://wandora/skin/wandoraicoanim16.png") !important;
}



#wandora-reload-chrome-button {
  list-style-image: url("chrome://browser/skin/Toolbar.png");
  -moz-image-region: rect(48px,96px,72px,72px);
}

toolbar[iconsize="small"] #wandora-reload-chrome-button {
  list-style-image: url("chrome://browser/skin/Toolbar-small.png");
  -moz-image-region: rect(32px,64px,48px,48px);
}
