# java specific
*.class
build/*
build-auto/*
dist/*
dist-old/*
temp/*
 
# netbeans ignore personal stuff
nbproject/private/

# generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
/build/
/build-auto/
/dist/
/dist-old/


# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
