/**
 * Mainly for defining the look of the table elements generated in
 * wandora_topic_feed.module. Please make all the adjustments concerning
 * the look of the module here.
 **/
 
@CHARSET "UTF-8";

.table-subtitle {
  background-color: #DDDDFF;
  border: #EEEEEE solid thin;
  font-weight: bold;
  font-size: small;
}

.table-type {
  background-color: #F0F0FF;
  border: #EEEEEE solid thin;
  font-weight: bold;
  vertical-align: top;
}

.table-cell {
  border: #EEEEEE solid thin;
}
