<div class="topic" ng:hide="!isLoaded()">
	<div class="hero-unit">
		<h1>{{t(topic)}}</h1>
		<p>{{topic.si}}</p>
	</div>

	<dl>
		<div ng-repeat="occurrence in occurrences">
			<dt>
				<a href="{{occurrence.type.url}}">{{t(occurrence.type)}}</a>
			</dt>
			<dd>{{occurrence.value}}</dd> 
		</div>
	</dl>
	


	<div ng-repeat="(key, spec) in assocs.specs"  class="spec {{key}}" ng-hide="!spec.length">
		<span class="head">{{t(key)}}</span>
		
		<span class="right">
			<input type="text" placeholder="filter" ng-model="spec.filter">
			<div class="btn-group">
				<button class="btn btn-default sort-asc" ng-click="setOrder(spec,0)">
					<i class="icon-arrow-down"></i>
				</button>
				<button class="btn btn-default sort-desc" ng-click="setOrder(spec,1)">
					<i class="icon-arrow-up"></i>
				</button>
				<button class="btn btn-default toggle" ng-click="toggle(spec)">
					<i class="icon-minus-sign" ng-hide="spec.hidden"></i>
					<i class="icon-plus-sign" ng-hide="!spec.hidden"></i>
				</button>
				
			</div>
		</span>
		<table class="table table-bordered" ng-hide="specEmpty(spec)">
			<tr ng-repeat="row in spec | orderBy:'disp':spec.ord | filter:spec.filter">
				<td><a href="{{row.url}}">{{t(row)}}</a></td>
			</tr>
		</table>
	</div>


	<div class="assoc-container" ng-repeat="(si,type) in assocs.types">
		<span class="head"><a href="{{type.type.url}}">{{t(type.type)}}</a></span>
		<span class="right">
			<button class="btn btn-mini toggle" ng-click="toggle(type)">
				<i class="icon-minus-sign"  ng-hide="type.hidden"></i>
				<i class="icon-plus-sign" ng-hide="!type.hidden"></i>
			</button>
		</span>
		
		<table class="table table-bordered" ng-hide="type.hidden">
			<thead>
				<tr>
					<th ng-repeat="role in type.roles">
						<a href="{{role.url}}">{{t(role)}}</a>
						<span class="right">
							<div class="btn-group">
								<button class="btn btn-mini sort-asc" ng-click="setSort(type,role,0)">
									<i class="icon-arrow-down"></i>
								</button>
								<button class="btn btn-mini sort-desc" ng-click="setSort(type,role,1)">
									<i class="icon-arrow-up"></i>
								</button>
							</div>	
						</span>
						
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="assoc in type.assocs | orderBy:sorter:type.descending">
					<td ng-repeat="player in assoc">
						<a href="{{player.url}}">{{t(player)}}</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

