.linkGroup {
    margin: 0px;
    width: 100%;
}
.associationTypeGroup, .occurrenceTypeGroup {
    margin-top: 1em;
}
.associationRolesGroup {}
.associationPlayersGroup {}
.occurrenceText {
    margin-top: 1em;
    width: 100%;
}
.wandoraButton {
    float: right;
    margin: 0.5em !important;
}
        
.countnumber {
	font-size: 80%;
	font-weight: normal;
}

